<html>
    <head>
    	<title>Spurningaleikur</title>
		<style type="text/css">
			body {
				padding:0px;
				margin:0px;
			}
			#header, #footer {
				font-size:20px;
				text-align:center;
				background:#ccc;
				padding:20px;
			}
			#content {
				padding:30px;
				text-align:center;
			}
			#footer {
				font-size:15px;
			}
		
		</style>
    </head>
    <body>
        <div id="main">
            <div id="header">Spurningaleikurinn HVER ER MAÐURINN?</div>
            <div id="content">
            	asdads
            </div>
            <div id="footer">&copy; Pool hópurinn</div>
        </div>
    </body>
</html>