<html>
    <head>
    	<title>Spurningaleikur</title>
		<style type="text/css">
			body {
				padding:0px;
				margin:0px;
			}
			#header, #footer {
				font-size:20px;
				text-align:center;
				background:#ccc;
				padding:20px;
			}
			#content {
				padding:30px;
				text-align:center;
			}
			#footer {
				font-size:15px;
			}
		
		</style>
    </head>
    <body>
        <div id="main">
            <div id="header">Spurningaleikur um Blackpool og Liverpool</div>
            <div id="content">
            	<h1>Blackpool:</h1>

				    <h2>1. Hvað heitir knattspyrnustjóri Blackpool?</h2>
				    <a href="/1/a">a) Steven Seagal</a><br/>
				    <a href="/1/b">b) Alex McLeish</a><br/>
				    <a href="/1/c">c) Martin Jol</a><br/>
				    <a href="/1/d">d) Ian Holloway</a><br/>

				    <h2>2. Hvernig fór fyrri leikur Blackpool - Liverpool í ensku úrvalsdeildinni 2010?</h2>

				    <a href="/2/a">a) 0-2</a><br/>
				    <a href="/2/b">b) 1-1</a><br/>
				    <a href="/2/c">c) 3-2</a><br/>
				    <a href="/2/d">d) 2-1</a><br/>

				    <h2>3. Hver er aðalmarkmaður Blackpool?</h2>

				    <a href="/3/a">a) Robert Green</a><br/>
				    <a href="/3/b">b) David James</a><br/>
				    <a href="/3/c">c) Ian Holloway</a><br/>
				    <a href="/3/d">d) Matthew Gilks</a><br/>


				<h1>Liverpool:</h1>

				<h2>1. Hver á metið yfir fjótustu þrennu(hat-trick) í sögu Liverpool?</h2>

				<a href="/4/a">a) Kenny Daglish</a><br/>
				<a href="/4/b">b) Robbie Fowler</a><br/>
				<a href="/4/c">c) Michael Owen</a><br/>
				<a href="/4/d">d) Ian Rush</a><br/>


				<h2>2. Hvað þurfti Liverpool að borga fyrir Fernando Torres?</h2>

				<a href="/5/a">a) £19m</a><br/>
				<a href="/5/b">b) £20m</a><br/>
				<a href="/5/c">c) £21m</a><br/>
				<a href="/5/d">d) £22m</a><br/>

				<h2>3. Hvað hefur Liverpool unnið ensku úrvalsdeildina oft?</h2>

				<a href="/6/a">a) 18</a><br/>
				<a href="/6/b">b) 19</a><br/>
				<a href="/6/c">c) 20</a><br/>
				<a href="/6/d">d) 21</a><br/>


            </div>
            <div id="footer">&copy; Pool hópurinn</div>
        </div>
    </body>
</html>